<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Hub</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}" >
    <!-- google -->
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <script src="{% static 'jquery/dist/jquery.min.js' %}" ></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/handler.js' %}" ></script>


  </head>
  <body>


   <div class="container">
     <img class="col-10" id="landing_page_logo" src="{% static 'images/icons/landing_page_logo.png'%}" alt="">
     <div class="col-12 nav_bar">
       <div class="hub-circle kitchen col-2">
         <a href="#">
         <img class="icon-img" alt="kitchen" src="{% static 'images/icons/kitchen_icon.png'%}" alt="">
         </a>
       </div>
       <div class="hub-circle library col-2">
         <a href="#">
         <img class="icon-img" alt="kitchen" src="{% static 'images/icons/library_icon.png'%}" alt="">
         </a>
       </div>
       <div class="hub-circle living-room col-2">
         <a href="#">
         <img class="icon-img" alt="kitchen" src="{% static 'images/icons/living_room_icon.png'%}" alt="">
         </a>
       </div>
       <div class="hub-circle neighborhood col-2">
         <a href="#">
         <img class="icon-img" alt="kitchen" src="{% static 'images/icons/neighborhood_icon.png'%}" alt="">
         </a>
       </div>
       <div class="hub-circle study col-2">
         <a href="#">
         <img  class="icon-img" alt="kitchen" src="{% static 'images/icons/workshop_icon.png'%}" alt="">
         </a>
       </div>
       <div class="hub-circle workshop">
         <a href="#">
         <img class="icon-img" alt="kitchen" src="{% static 'images/icons/study_icon.png'%}" alt="">
         </a>
       </div>

     </div>



<div class="main-container">
  <div class="row">
    <div class="cont-1 col-sm">
      <a class="col-12 slogan-header" href="#">ACS Wins</a>
      <div class="sub-div col-12">
        <ol>
          <li><a href="#">May Day</a>
        <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p></li>
          <li>
          <a href="#">Concert</a>
          <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p>
          </li>
          <li>
          <a href="#">Concert</a>
          <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p>
          </li>
        </ol>

      </div>
    </div>
    <div class="cont-2 col-sm">
      <a class="col-12 slogan-header" href="#">ACS News</a>
      <div class="sub-div col-12">
        <ol>
          <li><a href="#">May Day</a>
        <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p></li>
          <li>
          <a href="#">Concert</a>
          <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p>
          </li>
          <li>
          <a href="#">Concert</a>
          <p class="snippets">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave...</p>
          </li>
        </ol>

      </div>
    </div>
    <div class="cont-3 col-sm">
      <a class="col-12 slogan-header" href="#">People</a>
      <div class="profile-div col-10">
        <div class="profile-img col-10">
          <img id="person_image" class="col-12" src="{% static 'images/profiles/man_2.jpg'%}" alt="profile_img">

        </div>
        <p align="center" id="profile-story">Lorem ipsum dolor amet godard post-ironic jianbing chillwave, franzen offal 3 wolf moon meggings jean shorts edison bulb kale chips DIY snackwave</p>

      </div>
    </div>
  </div>
</div>

   </div>

  </body>
</html>
