{% extends 'wins/base.html'%}
{% block body %}
    <h1>ACS Wins</h1>
    <table class="table">
      <thead>
          <th scope="column">Title</th>
          <th scope="column">Article</th>
          <th scope="column">Published Date</th>

        </tr>
      </thead>
      <tbody>
        {% for win in wins %}
        <tr>
          <td><a href="/wins/detail/{{win.id}}">{{win.title}}</a></td>
          <td>{{win.description}}</td>
          <td>{{win.created_at}}</td>
        </tr>

        {% endfor %}

      </tbody>

    </table>

{% endblock%}
