{% extends 'personnel/base.html'%}
{% block body %}
    <h1>Personnel</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="column"></th>
          <th scope="column">First Name</th>
          <th scope="column">Last Name</th>
          <th scope="column">Fun Fact</th>
        </tr>
      </thead>
      <tbody>
        {% for person in personnel %}
        <tr>
          <td><img src="/personnel{{person.profile_image.url}}" alt="profile image" style="width:100px;height:100px;"></td>
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>{{person.fun_fact}}</td>
        </tr>

        {% endfor %}

      </tbody>

    </table>

{% endblock %}
